body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ff0000;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #333;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color:azure;
  justify-content: space-between; /* 🔥 separa lados */
}
.menu {
  display: none;
  background-color: #fff;
  list-style: none;
  padding:0;
  margin:0;
  position: absolute;
  top: 60px;
  left: 15px; /* troquei de right: para left: */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s ease-in-out;
  z-index: 1000;
  flex-direction:columm;
}

.menu li {
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  color: #ccc;
  transition: background-color 0.3s;
}

.menu li:hover {
  background-color: #f9f9f9;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
.horario p {
  margin-left:auto;
   margin: 2px 0;
  font-size: 14px;
  color: #ccc;
  
}
.menu-icon {
  font-size: 26px;
  cursor: pointer;
  margin-right: 15px;
  color:azure;
}

.title {
  font-size: 20px;
  font-weight: bold;
   max-width: 100%;
  height: auto;
}

.hero {
  background: url('https://images.unsplash.com/photo-1601924579732-3ccde9aa7bb0') center/cover no-repeat;
  text-align: center;
  padding: 40px 20px;
  position: relative;
}

.logo {
  background: #d92128;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  color: yellow;
  font-weight: bold;
  font-size: 14px; /* menor que 18px */
}

.pedido-button {
  display: inline-block;
  background-color: #ffcc00;
  color: #000;
  padding: 15px 25px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}
.hero { 
  display:flex;
  align-items:center;
  flex-direction:column;  
}
.info {
  padding: 20px;
  font-size: 15px;
  line-height: 1.6;
}